{
  "swagger": "2.0",
  "info": {
    "title": "Scrub - Open API",
    "description": "Comprehensive API for geolocalised fraud detection, identity verification, and credit reporting in Nigeria. All responses include a request_id for support tracing.",
    "termsOfService": "https://usescrub.io/terms/",
    "contact": {
      "email": "contact@usescrub.io"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1"
  },
  "host": "odoopi.usescrub.io",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT access token or API key from Token Management. Format: Bearer <token>"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Authentication and session management"
    },
    {
      "name": "detect",
      "description": "AI-generated document detection"
    },
    {
      "name": "report",
      "description": "Financial reports via bank connection (Plaid)"
    },
    {
      "name": "consent",
      "description": "Public bank-connection consent session (used by the hosted Link UI; no auth)"
    },
    {
      "name": "verification",
      "description": "Country based identity verification (BVN, NIN, phone)"
    },
    {
      "name": "fraud",
      "description": "Real-time fraud detection, scoring, and watchlist screening"
    },
    {
      "name": "credit",
      "description": "Credit scoring and bureau inquiry for Nigerian consumers"
    }
  ],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Login",
        "operationId": "auth_login",
        "description": "Authenticate with email and password. Returns a JWT access token (and optional refresh token) for dashboard sessions.",
        "security": [],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "operationId": "auth_me",
        "summary": "Get authenticated user",
        "description": "Returns the current user for a valid JWT access token.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Current user",
            "schema": {
              "$ref": "#/definitions/UserInfoResponse"
            }
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "summary": "Refresh token",
        "operationId": "auth_refresh",
        "description": "Exchange a refresh token for a new access token.",
        "security": [],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New access token",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/detect/file": {
      "post": {
        "summary": "Detect AI-generated file",
        "operationId": "detect_file",
        "description": "Upload an image or document and infer whether it is real or AI-generated.",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "Image or document file to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Detection result",
            "schema": {
              "$ref": "#/definitions/DetectionResponse"
            }
          }
        },
        "tags": [
          "detect"
        ]
      }
    },
    "/api/v1/detect/url": {
      "post": {
        "summary": "Detect AI-generated image from URL",
        "operationId": "detect_url",
        "description": "Analyze an image at a public URL for AI generation signals.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "image_url"
              ],
              "properties": {
                "image_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/doc.png"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detection result",
            "schema": {
              "$ref": "#/definitions/DetectionResponse"
            }
          }
        },
        "tags": [
          "detect"
        ]
      }
    },
    "/api/v1/detect/batch": {
      "post": {
        "summary": "Batch detect from image URLs",
        "operationId": "detect_batch",
        "description": "Analyze multiple image URLs in one request.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "image_urls"
              ],
              "properties": {
                "image_urls": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch detection results",
            "schema": {
              "$ref": "#/definitions/BatchDetectionResponse"
            }
          }
        },
        "tags": [
          "detect"
        ]
      }
    },
    "/api/v1/report": {
      "post": {
        "summary": "Create financial report",
        "operationId": "report_create",
        "description": "Start a financial report case. Returns link_url for frontend embed (iframe/redirect). Applicant connects a bank via hosted Link; when done, Scrub POSTs report.ready or report.failed to your Controls webhook URL. Poll GET /report/{case_id} for status: PENDING_CONNECTION, CONNECTED, PROCESSING, REPORT_READY, FAILED, EXPIRED.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReportRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Case accepted",
            "schema": {
              "$ref": "#/definitions/CreateReportResponse"
            }
          }
        },
        "tags": [
          "report"
        ]
      },
      "get": {
        "summary": "List financial reports",
        "operationId": "report_list",
        "description": "List financial report cases for the authenticated client/user.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated cases",
            "schema": {
              "$ref": "#/definitions/CaseListResponse"
            }
          }
        },
        "tags": [
          "report"
        ]
      }
    },
    "/api/v1/report/{case_id}": {
      "get": {
        "summary": "Get financial report status",
        "operationId": "report_retrieve",
        "description": "Fetch case status. Statuses: PENDING_CONNECTION, CONNECTED, PROCESSING, REPORT_READY, FAILED, EXPIRED. When status is REPORT_READY, includes score, report payload, and optional PDF URL. Prefer webhooks (report.ready / report.failed) for async delivery.",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Case status",
            "schema": {
              "$ref": "#/definitions/CaseStatusResponse"
            }
          },
          "404": {
            "description": "Case not found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "report"
        ]
      }
    },
    "/c/{consent_token}/session": {
      "get": {
        "summary": "Get consent session",
        "operationId": "consent_session",
        "description": "Public session lookup for the hosted Plaid Link UI. Always returns org branding (`display_name`, `brand_name`, `logo_url`) even when the link is expired, used, or invalid. Mounted at the app root (`/c/...`), not under `/api/v1`.",
        "security": [],
        "parameters": [
          {
            "name": "consent_token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Opaque token from CreateReportResponse.link_url"
          }
        ],
        "responses": {
          "200": {
            "description": "Session status and branding",
            "schema": {
              "$ref": "#/definitions/ConsentSessionResponse"
            }
          }
        },
        "tags": [
          "consent"
        ]
      }
    },
    "/c/{consent_token}/link-token": {
      "post": {
        "summary": "Create Plaid link token",
        "operationId": "consent_link_token",
        "description": "Creates a provider link token for a valid consent session. Returns branding fields for the Link UI. Mounted at the app root (`/c/...`), not under `/api/v1`.",
        "security": [],
        "parameters": [
          {
            "name": "consent_token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Link token and branding",
            "schema": {
              "$ref": "#/definitions/LinkTokenResponse"
            }
          },
          "404": {
            "description": "Invalid link",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "410": {
            "description": "Link expired or already used",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "consent"
        ]
      }
    },
    "/api/v1/verify-bvn/": {
      "post": {
        "summary": "Verify BVN",
        "operationId": "verification_bvn_create",
        "description": "Validates a Bank Verification Number (BVN) against NIBSS records and returns masked identity attributes. Use during KYC onboarding to confirm a customer's identity before account creation.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BvnVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BVN verification result",
            "schema": {
              "$ref": "#/definitions/BvnVerifyResponse"
            }
          },
          "400": {
            "description": "Invalid BVN format or checksum failure",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "verification"
        ]
      }
    },
    "/api/v1/verify-nin/": {
      "post": {
        "summary": "Verify NIN",
        "operationId": "verification_nin_create",
        "description": "Validates a National Identification Number (NIN) via NIMC and returns verified identity fields. Recommended for tier-2 KYC and regulatory compliance.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NinVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NIN verification result",
            "schema": {
              "$ref": "#/definitions/NinVerifyResponse"
            }
          },
          "400": {
            "description": "Invalid NIN",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "verification"
        ]
      }
    },
    "/api/v1/fraud/analyze/": {
      "post": {
        "summary": "Analyze transaction for fraud",
        "operationId": "fraud_analyze_create",
        "description": "Runs real-time fraud analysis on a transaction using geolocation signals, velocity checks, device fingerprinting, and network graph analysis. Returns a risk score (0\u2013100) and recommended action.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Unique key to safely retry this request without duplicate analysis"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudAnalyzeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud analysis result",
            "schema": {
              "$ref": "#/definitions/FraudAnalyzeResponse"
            }
          },
          "422": {
            "description": "Insufficient data for analysis",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/score/": {
      "get": {
        "summary": "Get account fraud score",
        "operationId": "fraud_score_retrieve",
        "description": "Retrieves the current aggregated fraud risk score for a bank account or wallet. Scores are recalculated when new signals arrive via webhooks or API calls.",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "10-digit NUBAN account number"
          },
          {
            "name": "bank_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CBN bank code (e.g. 058 for GTBank)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud score result",
            "schema": {
              "$ref": "#/definitions/FraudScoreResponse"
            }
          },
          "404": {
            "description": "Account not found in Scrub network",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/watchlist/check/": {
      "post": {
        "summary": "Screen against watchlists",
        "operationId": "fraud_watchlist_check",
        "description": "Screens an identity or account against Scrub's consolidated watchlist including reported fraudsters, PEP lists, and sanctioned entities relevant to the Nigerian financial ecosystem.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WatchlistCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watchlist screening result",
            "schema": {
              "$ref": "#/definitions/WatchlistCheckResponse"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/device-fingerprint/": {
      "post": {
        "summary": "Assess device fingerprint risk",
        "operationId": "fraud_device_fingerprint_create",
        "description": "Evaluates device fingerprint signals (IP, user agent, timezone, emulator detection) to detect account takeover, SIM swap, and multi-accounting patterns common in Nigerian mobile fraud.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceFingerprintRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device risk assessment",
            "schema": {
              "$ref": "#/definitions/DeviceFingerprintResponse"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/velocity-check/": {
      "post": {
        "summary": "Check transaction velocity",
        "operationId": "fraud_velocity_check_create",
        "description": "Detects abnormal transaction velocity \u2014 rapid transfers, burst login attempts, or geographic impossibility \u2014 within a configurable time window.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VelocityCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Velocity check result",
            "schema": {
              "$ref": "#/definitions/VelocityCheckResponse"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/report/": {
      "post": {
        "summary": "Report confirmed fraud",
        "operationId": "fraud_report_create",
        "description": "Submits a confirmed fraud case to the Scrub network. Reports are shared (with consent) across participating institutions to improve collective fraud detection.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudReportRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Fraud report submitted",
            "schema": {
              "$ref": "#/definitions/FraudReportResponse"
            }
          },
          "400": {
            "description": "Invalid report payload",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/fraud/alerts/": {
      "get": {
        "summary": "List fraud alerts",
        "operationId": "fraud_alerts_list",
        "description": "Returns paginated fraud alerts for accounts linked to your organization. Alerts are also delivered asynchronously via webhooks.",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated fraud alerts",
            "schema": {
              "$ref": "#/definitions/FraudAlertsResponse"
            }
          }
        },
        "tags": [
          "fraud"
        ]
      }
    },
    "/api/v1/credit/score/": {
      "post": {
        "summary": "Get credit score",
        "operationId": "credit_score_create",
        "description": "Retrieves a consumer credit score (300\u2013850) based on repayment history, credit utilization, and bureau data from CRC Credit Bureau and FirstCentral. Requires explicit customer consent.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditScoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit score result",
            "schema": {
              "$ref": "#/definitions/CreditScoreResponse"
            }
          },
          "403": {
            "description": "Customer consent not provided",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": [
          "credit"
        ]
      }
    },
    "/api/v1/credit/inquiry/": {
      "post": {
        "summary": "Submit credit inquiry",
        "operationId": "credit_inquiry_create",
        "description": "Submits a soft or hard credit inquiry to Nigerian credit bureaus. Soft inquiries do not affect the consumer's score; hard inquiries are recorded on the bureau file.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditInquiryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inquiry result",
            "schema": {
              "$ref": "#/definitions/CreditInquiryResponse"
            }
          }
        },
        "tags": [
          "credit"
        ]
      }
    },
    "/api/v1/credit/history/": {
      "get": {
        "summary": "Get repayment history",
        "operationId": "credit_history_list",
        "description": "Returns summarized loan and repayment history for a consumer, including active facilities, closed accounts, and delinquency flags.",
        "parameters": [
          {
            "name": "bvn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "11-digit BVN"
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 24,
            "description": "Lookback period in months (max 60)"
          }
        ],
        "responses": {
          "200": {
            "description": "Repayment history summary",
            "schema": {
              "$ref": "#/definitions/CreditHistoryResponse"
            }
          }
        },
        "tags": [
          "credit"
        ]
      }
    }
  },
  "definitions": {
    "ApiError": {
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "Machine-readable error identifier",
          "example": "INVALID_BVN"
        },
        "error_type": {
          "type": "string",
          "enum": [
            "INVALID_REQUEST",
            "AUTHENTICATION",
            "NOT_FOUND",
            "RATE_LIMIT",
            "INTERNAL"
          ],
          "example": "INVALID_REQUEST"
        },
        "message": {
          "type": "string",
          "example": "BVN must be exactly 11 digits"
        },
        "request_id": {
          "type": "string",
          "description": "Include when contacting support",
          "example": "req_8f3k2m9x1p"
        }
      }
    },
    "LoginRequest": {
      "required": [
        "email",
        "password"
      ],
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "format": "email",
          "example": "user@example.com"
        },
        "password": {
          "type": "string",
          "example": "securepassword123"
        }
      }
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "email": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "full_name": {
          "type": "string",
          "x-nullable": true
        },
        "phone": {
          "type": "string",
          "x-nullable": true
        },
        "company": {
          "type": "string",
          "x-nullable": true
        },
        "company_size": {
          "type": "string",
          "x-nullable": true
        },
        "industry": {
          "type": "string",
          "x-nullable": true
        },
        "role": {
          "type": "string",
          "x-nullable": true
        },
        "country": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "TokenResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "refresh_token": {
          "type": "string",
          "x-nullable": true
        },
        "token_type": {
          "type": "string",
          "example": "bearer"
        },
        "user": {
          "$ref": "#/definitions/UserInfo"
        }
      }
    },
    "RefreshTokenRequest": {
      "required": [
        "refresh_token"
      ],
      "type": "object",
      "properties": {
        "refresh_token": {
          "type": "string"
        }
      }
    },
    "UserInfoResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "email": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "full_name": {
          "type": "string",
          "x-nullable": true
        },
        "phone": {
          "type": "string",
          "x-nullable": true
        },
        "company": {
          "type": "string",
          "x-nullable": true
        },
        "company_size": {
          "type": "string",
          "x-nullable": true
        },
        "industry": {
          "type": "string",
          "x-nullable": true
        },
        "role": {
          "type": "string",
          "x-nullable": true
        },
        "country": {
          "type": "string",
          "x-nullable": true
        },
        "is_active": {
          "type": "boolean"
        },
        "is_verified": {
          "type": "boolean"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "last_login_at": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        }
      }
    },
    "DetectionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "cached": {
          "type": "boolean"
        },
        "detection_data": {
          "type": "object",
          "description": "Provider detection payload (filename, status, AI score, media, timing)"
        },
        "image_hash": {
          "type": "string"
        }
      }
    },
    "BatchDetectionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "image_url": {
                "type": "string"
              },
              "image_hash": {
                "type": "string"
              },
              "success": {
                "type": "boolean"
              },
              "cached": {
                "type": "boolean",
                "x-nullable": true
              },
              "detection_data": {
                "type": "object",
                "x-nullable": true
              },
              "task_id": {
                "type": "string",
                "x-nullable": true
              },
              "status": {
                "type": "string",
                "x-nullable": true
              },
              "error": {
                "type": "string",
                "x-nullable": true
              }
            }
          }
        },
        "total": {
          "type": "integer"
        }
      }
    },
    "CreateReportRequest": {
      "required": [
        "full_name",
        "reference_id"
      ],
      "type": "object",
      "properties": {
        "full_name": {
          "type": "string",
          "example": "Adebola James"
        },
        "contact_phone": {
          "type": "string",
          "x-nullable": true,
          "example": "+2348012345678"
        },
        "contact_email": {
          "type": "string",
          "format": "email",
          "x-nullable": true
        },
        "reference_id": {
          "type": "string",
          "example": "loan_app_9981"
        },
        "country_codes": {
          "type": "array",
          "items": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "example": [
            "NG"
          ],
          "default": [
            "US"
          ],
          "description": "ISO 3166-1 alpha-2 country codes for Plaid Link"
        }
      },
      "description": "At least one of contact_phone or contact_email is required. subject_id is assigned internally."
    },
    "CreateReportResponse": {
      "type": "object",
      "properties": {
        "case_id": {
          "type": "string",
          "format": "uuid"
        },
        "status": {
          "type": "string",
          "example": "PENDING_CONNECTION"
        },
        "message": {
          "type": "string"
        },
        "link_url": {
          "type": "string",
          "format": "uri",
          "description": "Embed this URL in an iframe on the customer platform to open Plaid Link. The hosted UI calls GET /c/{token}/session then POST /c/{token}/link-token.",
          "example": "https://app.example.com/plaid/link?session=opaque-token"
        }
      }
    },
    "ConsentSessionResponse": {
      "type": "object",
      "required": [
        "status",
        "display_name"
      ],
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "valid",
            "expired",
            "used",
            "invalid"
          ],
          "example": "valid"
        },
        "display_name": {
          "type": "string",
          "description": "Name shown in Link UI \u2014 client brand_name, else client name, else Scrub",
          "example": "Acme Lending"
        },
        "brand_name": {
          "type": "string",
          "x-nullable": true,
          "example": "Acme Lending"
        },
        "logo_url": {
          "type": "string",
          "format": "uri",
          "x-nullable": true,
          "example": "https://cdn.example.com/logo.png"
        },
        "applicant_name": {
          "type": "string",
          "x-nullable": true,
          "example": "Adebola James"
        },
        "detail": {
          "type": "string",
          "x-nullable": true,
          "description": "Human-readable reason when status is not valid",
          "example": "Link expired"
        }
      }
    },
    "LinkTokenResponse": {
      "type": "object",
      "required": [
        "link_token",
        "provider"
      ],
      "properties": {
        "link_token": {
          "type": "string",
          "description": "Provider link token for Plaid Link initialize",
          "example": "link-sandbox-xxxxxxxx"
        },
        "provider": {
          "type": "string",
          "example": "plaid"
        },
        "brand_name": {
          "type": "string",
          "x-nullable": true,
          "example": "Acme Lending"
        },
        "logo_url": {
          "type": "string",
          "format": "uri",
          "x-nullable": true,
          "example": "https://cdn.example.com/logo.png"
        },
        "display_name": {
          "type": "string",
          "x-nullable": true,
          "description": "Resolved display name used as Plaid client_name",
          "example": "Acme Lending"
        }
      }
    },
    "ReportPayload": {
      "type": "object",
      "properties": {
        "score": {
          "type": "integer"
        },
        "report": {
          "type": "object"
        },
        "report_pdf_url": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "CaseStatusResponse": {
      "type": "object",
      "properties": {
        "case_id": {
          "type": "string",
          "format": "uuid"
        },
        "reference_id": {
          "type": "string"
        },
        "subject_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "PENDING_CONNECTION",
            "CONNECTED",
            "PROCESSING",
            "REPORT_READY",
            "FAILED",
            "EXPIRED"
          ]
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "connection_completed_at": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "report_completed_at": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "webhook_delivered_at": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "report": {
          "$ref": "#/definitions/ReportPayload"
        }
      }
    },
    "CaseListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseStatusResponse"
          }
        },
        "total": {
          "type": "integer"
        },
        "limit": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        }
      }
    },
    "BvnVerifyRequest": {
      "required": [
        "bvn"
      ],
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string",
          "description": "11-digit Bank Verification Number",
          "example": "22345678901"
        }
      }
    },
    "BvnVerifyResponse": {
      "type": "object",
      "properties": {
        "valid": {
          "type": "boolean",
          "example": true
        },
        "full_name": {
          "type": "string",
          "example": "Adebola James"
        },
        "phone_number": {
          "type": "string",
          "example": "08031234567"
        },
        "date_of_birth": {
          "type": "string",
          "format": "date",
          "example": "1990-05-15"
        },
        "request_id": {
          "type": "string",
          "example": "req_abc123"
        }
      }
    },
    "NinVerifyRequest": {
      "required": [
        "nin"
      ],
      "type": "object",
      "properties": {
        "nin": {
          "type": "string",
          "description": "11-digit National Identification Number",
          "example": "12345678901"
        }
      }
    },
    "NinVerifyResponse": {
      "type": "object",
      "properties": {
        "valid": {
          "type": "boolean",
          "example": true
        },
        "full_name": {
          "type": "string",
          "example": "Chioma Okonkwo"
        },
        "gender": {
          "type": "string",
          "enum": [
            "M",
            "F"
          ],
          "example": "F"
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "FraudAnalyzeRequest": {
      "required": [
        "transaction_id",
        "sender_account",
        "receiver_account",
        "amount",
        "channel"
      ],
      "type": "object",
      "properties": {
        "transaction_id": {
          "type": "string",
          "example": "TXN123456789"
        },
        "sender_account": {
          "type": "string",
          "example": "0123456789"
        },
        "receiver_account": {
          "type": "string",
          "example": "9876543210"
        },
        "amount": {
          "type": "number",
          "format": "float",
          "example": 125000.5
        },
        "currency": {
          "type": "string",
          "enum": [
            "NGN",
            "USD"
          ],
          "default": "NGN"
        },
        "channel": {
          "type": "string",
          "enum": [
            "mobile",
            "ussd",
            "web",
            "atm",
            "pos"
          ],
          "example": "web"
        },
        "ip_address": {
          "type": "string",
          "example": "102.89.23.45"
        },
        "device_id": {
          "type": "string",
          "example": "dev_fingerprint_abc"
        },
        "metadata": {
          "type": "object",
          "description": "Optional key-value context"
        }
      }
    },
    "FraudAnalyzeResponse": {
      "type": "object",
      "properties": {
        "transaction_id": {
          "type": "string"
        },
        "is_fraud": {
          "type": "boolean",
          "example": false
        },
        "risk_score": {
          "type": "number",
          "description": "0 (safe) to 100 (high risk)",
          "example": 45.7
        },
        "risk_level": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ],
          "example": "medium"
        },
        "recommended_action": {
          "type": "string",
          "enum": [
            "approve",
            "review",
            "decline",
            "step_up_auth"
          ],
          "example": "approve"
        },
        "signals": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VELOCITY_SPIKE"
              },
              "weight": {
                "type": "number",
                "example": 0.35
              },
              "description": {
                "type": "string",
                "example": "3 transfers in 5 minutes"
              }
            }
          }
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "FraudScoreResponse": {
      "type": "object",
      "properties": {
        "account_number": {
          "type": "string",
          "example": "0123456789"
        },
        "fraud_score": {
          "type": "number",
          "example": 73.2
        },
        "risk_level": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ],
          "example": "high"
        },
        "last_updated": {
          "type": "string",
          "format": "date-time"
        },
        "report_count": {
          "type": "integer",
          "description": "Number of network fraud reports",
          "example": 2
        }
      }
    },
    "WatchlistCheckRequest": {
      "required": [
        "subject_type",
        "identifier"
      ],
      "type": "object",
      "properties": {
        "subject_type": {
          "type": "string",
          "enum": [
            "account",
            "bvn",
            "nin",
            "phone",
            "email"
          ],
          "example": "bvn"
        },
        "identifier": {
          "type": "string",
          "example": "22345678901"
        },
        "full_name": {
          "type": "string",
          "example": "Adebola James"
        }
      }
    },
    "WatchlistCheckResponse": {
      "type": "object",
      "properties": {
        "matched": {
          "type": "boolean",
          "example": false
        },
        "match_count": {
          "type": "integer",
          "example": 0
        },
        "matches": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "list_name": {
                "type": "string",
                "example": "scrub_fraud_network"
              },
              "match_score": {
                "type": "number",
                "example": 0.92
              },
              "reason": {
                "type": "string",
                "example": "Reported phishing \u2014 Jan 2025"
              }
            }
          }
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "DeviceFingerprintRequest": {
      "required": [
        "device_id",
        "ip_address",
        "user_agent"
      ],
      "type": "object",
      "properties": {
        "device_id": {
          "type": "string",
          "example": "dev_abc123"
        },
        "ip_address": {
          "type": "string",
          "example": "102.89.23.45"
        },
        "user_agent": {
          "type": "string",
          "example": "Mozilla/5.0 (Linux; Android 14)..."
        },
        "account_number": {
          "type": "string",
          "example": "0123456789"
        },
        "timezone": {
          "type": "string",
          "example": "Africa/Lagos"
        },
        "is_emulator": {
          "type": "boolean",
          "example": false
        }
      }
    },
    "DeviceFingerprintResponse": {
      "type": "object",
      "properties": {
        "device_id": {
          "type": "string"
        },
        "risk_score": {
          "type": "number",
          "example": 62.0
        },
        "risk_level": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high"
          ],
          "example": "medium"
        },
        "flags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "NEW_DEVICE",
            "VPN_DETECTED"
          ]
        },
        "known_device": {
          "type": "boolean",
          "example": false
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "VelocityCheckRequest": {
      "required": [
        "account_number",
        "event_type"
      ],
      "type": "object",
      "properties": {
        "account_number": {
          "type": "string",
          "example": "0123456789"
        },
        "event_type": {
          "type": "string",
          "enum": [
            "transfer",
            "login",
            "card_txn",
            "bvn_lookup"
          ],
          "example": "transfer"
        },
        "window_minutes": {
          "type": "integer",
          "default": 60,
          "example": 60
        },
        "threshold": {
          "type": "integer",
          "default": 5,
          "description": "Max events before flagging",
          "example": 5
        }
      }
    },
    "VelocityCheckResponse": {
      "type": "object",
      "properties": {
        "exceeded": {
          "type": "boolean",
          "example": false
        },
        "event_count": {
          "type": "integer",
          "example": 2
        },
        "threshold": {
          "type": "integer",
          "example": 5
        },
        "window_minutes": {
          "type": "integer",
          "example": 60
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "FraudReportRequest": {
      "required": [
        "reporter_email",
        "account_number",
        "fraud_type"
      ],
      "type": "object",
      "properties": {
        "reporter_email": {
          "type": "string",
          "format": "email",
          "example": "report@fraudwatch.ng"
        },
        "account_number": {
          "type": "string",
          "example": "0123456789"
        },
        "fraud_type": {
          "type": "string",
          "enum": [
            "phishing",
            "account_takeover",
            "sim_swap",
            "identity_theft",
            "chargeback",
            "other"
          ],
          "example": "phishing"
        },
        "amount_lost": {
          "type": "number",
          "example": 50000
        },
        "description": {
          "type": "string",
          "example": "User tricked into sending money under false pretenses."
        },
        "evidence_urls": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    },
    "FraudReportResponse": {
      "type": "object",
      "properties": {
        "report_id": {
          "type": "string",
          "example": "frd_rpt_8x2k9m"
        },
        "status": {
          "type": "string",
          "enum": [
            "received",
            "under_review",
            "verified"
          ],
          "example": "received"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "FraudAlertsResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "example": 42
        },
        "page": {
          "type": "integer",
          "example": 1
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "alert_id": {
                "type": "string",
                "example": "alt_9k2m1x"
              },
              "account_number": {
                "type": "string"
              },
              "severity": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              },
              "type": {
                "type": "string",
                "example": "VELOCITY_BREACH"
              },
              "message": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    },
    "CreditScoreRequest": {
      "required": [
        "bvn",
        "consent_reference"
      ],
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string",
          "example": "22345678901"
        },
        "consent_reference": {
          "type": "string",
          "description": "Reference to stored customer consent",
          "example": "cns_abc123"
        },
        "bureau": {
          "type": "string",
          "enum": [
            "crc",
            "firstcentral",
            "all"
          ],
          "default": "all"
        }
      }
    },
    "CreditScoreResponse": {
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "description": "300\u2013850 scale",
          "example": 682
        },
        "rating": {
          "type": "string",
          "enum": [
            "excellent",
            "good",
            "fair",
            "poor",
            "very_poor"
          ],
          "example": "good"
        },
        "bureau_source": {
          "type": "string",
          "example": "crc"
        },
        "factors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "factor": {
                "type": "string",
                "example": "repayment_history"
              },
              "impact": {
                "type": "string",
                "enum": [
                  "positive",
                  "negative",
                  "neutral"
                ]
              },
              "description": {
                "type": "string"
              }
            }
          }
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "CreditReportRequest": {
      "required": [
        "bvn",
        "consent_reference"
      ],
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string",
          "example": "22345678901"
        },
        "consent_reference": {
          "type": "string",
          "example": "cns_abc123"
        },
        "include_loans": {
          "type": "boolean",
          "default": true
        },
        "include_inquiries": {
          "type": "boolean",
          "default": true
        }
      }
    },
    "CreditReportInitResponse": {
      "type": "object",
      "properties": {
        "report_id": {
          "type": "string",
          "example": "crp_8f3k2m9x"
        },
        "status": {
          "type": "string",
          "enum": [
            "pending",
            "processing"
          ],
          "example": "processing"
        },
        "estimated_ready_at": {
          "type": "string",
          "format": "date-time"
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "CreditReport": {
      "type": "object",
      "properties": {
        "report_id": {
          "type": "string"
        },
        "bvn": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "example": 682
        },
        "rating": {
          "type": "string",
          "example": "good"
        },
        "generated_at": {
          "type": "string",
          "format": "date-time"
        },
        "active_loans": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lender": {
                "type": "string",
                "example": "FairMoney"
              },
              "amount": {
                "type": "number",
                "example": 150000
              },
              "outstanding": {
                "type": "number",
                "example": 45000
              },
              "status": {
                "type": "string",
                "enum": [
                  "current",
                  "delinquent",
                  "closed"
                ]
              }
            }
          }
        },
        "inquiries_last_12m": {
          "type": "integer",
          "example": 3
        },
        "delinquencies": {
          "type": "integer",
          "example": 0
        }
      }
    },
    "CreditInquiryRequest": {
      "required": [
        "bvn",
        "inquiry_type",
        "consent_reference",
        "purpose"
      ],
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string",
          "example": "22345678901"
        },
        "inquiry_type": {
          "type": "string",
          "enum": [
            "soft",
            "hard"
          ],
          "example": "soft"
        },
        "consent_reference": {
          "type": "string",
          "example": "cns_abc123"
        },
        "purpose": {
          "type": "string",
          "enum": [
            "loan_application",
            "account_opening",
            "periodic_review"
          ],
          "example": "loan_application"
        }
      }
    },
    "CreditInquiryResponse": {
      "type": "object",
      "properties": {
        "inquiry_id": {
          "type": "string",
          "example": "inq_7k2m9x"
        },
        "inquiry_type": {
          "type": "string",
          "example": "soft"
        },
        "recorded_on_bureau": {
          "type": "boolean",
          "example": false
        },
        "score_at_inquiry": {
          "type": "integer",
          "example": 682
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "CreditHistoryResponse": {
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string"
        },
        "months_analyzed": {
          "type": "integer",
          "example": 24
        },
        "total_facilities": {
          "type": "integer",
          "example": 4
        },
        "active_facilities": {
          "type": "integer",
          "example": 2
        },
        "on_time_payments_pct": {
          "type": "number",
          "example": 94.5
        },
        "worst_delinquency_days": {
          "type": "integer",
          "example": 0
        },
        "facilities": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lender": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "personal_loan",
                  "mortgage",
                  "credit_card",
                  "overdraft"
                ]
              },
              "opened_at": {
                "type": "string",
                "format": "date"
              },
              "status": {
                "type": "string",
                "enum": [
                  "current",
                  "delinquent",
                  "closed"
                ]
              }
            }
          }
        },
        "request_id": {
          "type": "string"
        }
      }
    },
    "ChangePassword": {
      "required": [
        "current_password",
        "new_password"
      ],
      "type": "object",
      "properties": {
        "current_password": {
          "title": "Current password",
          "type": "string",
          "minLength": 1
        },
        "new_password": {
          "title": "New password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "VerifiedTokenObtainPair": {
      "required": [
        "email",
        "password"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "VerifiedTokenObtainPairResponse": {
      "type": "object",
      "properties": {
        "access": {
          "title": "Access",
          "type": "string",
          "minLength": 1
        },
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "User": {
      "required": [
        "username",
        "email"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "username": {
          "title": "Username",
          "type": "string",
          "maxLength": 150,
          "minLength": 1
        },
        "email": {
          "title": "Email address",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        },
        "first_name": {
          "title": "First name",
          "type": "string",
          "maxLength": 150
        },
        "last_name": {
          "title": "Last name",
          "type": "string",
          "maxLength": 150
        },
        "is_active": {
          "title": "Active",
          "description": "Designates whether this user should be treated as active. Unselect this instead of deleting accounts.",
          "type": "boolean",
          "readOnly": true
        },
        "role": {
          "title": "Role",
          "type": "string",
          "enum": [
            "A",
            "B"
          ]
        },
        "date_joined": {
          "title": "Date joined",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "title": "Phone",
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "x-nullable": true
        },
        "gender": {
          "title": "Gender",
          "type": "string",
          "enum": [
            "MALE",
            "FEMALE",
            "OTHERS"
          ]
        },
        "tier": {
          "title": "Tier",
          "type": "integer",
          "readOnly": true,
          "default": 1
        },
        "is_verified_for_login": {
          "title": "Is verified for login",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TokenRefresh": {
      "required": [
        "refresh"
      ],
      "type": "object",
      "properties": {
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        },
        "access": {
          "title": "Access",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "WithdrawalAccount": {
      "required": [
        "bank_name",
        "account_number",
        "account_name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "bank_name": {
          "title": "Bank name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "account_number": {
          "title": "Account Number",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "account_name": {
          "title": "Account Name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "user": {
          "title": "User",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "Wallet": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "total_transactions": {
          "title": "Total transactions",
          "type": "string",
          "readOnly": true
        },
        "total_income": {
          "title": "Total income",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": [
            "USD",
            "NGN",
            "EUR",
            "GBP"
          ]
        },
        "balance": {
          "title": "Balance",
          "type": "number"
        },
        "user": {
          "title": "User",
          "type": "integer",
          "x-nullable": true
        }
      }
    },
    "ClassicContract": {
      "required": [
        "title",
        "amount",
        "description",
        "currency",
        "creator",
        "creator_role",
        "product_name",
        "inspection_period"
      ],
      "type": "object",
      "properties": {
        "created_on": {
          "title": "Created on",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "uuid": {
          "title": "Uuid",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "AGREEMENT",
            "REJECTED",
            "PAYMENT",
            "DELIVERY",
            "INSPECTION",
            "APPEAL",
            "COMPLETED"
          ],
          "readOnly": true
        },
        "category": {
          "title": "Category",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": [
            "USD",
            "NGN",
            "EUR",
            "GBP"
          ]
        },
        "creator": {
          "title": "Creator",
          "type": "integer"
        },
        "creator_role": {
          "title": "Creator role",
          "type": "integer",
          "enum": [
            1,
            2
          ]
        },
        "wallet": {
          "$ref": "#/definitions/Wallet"
        },
        "counterparty": {
          "title": "Counterparty",
          "type": "integer",
          "x-nullable": true
        },
        "product_name": {
          "title": "Product name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "inspection_period": {
          "title": "Inspection period",
          "description": "Inspection period in days - 0 indicates immediate",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": -2147483648
        },
        "delivery_fee": {
          "title": "Delivery fee",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "status_history": {
          "title": "Status history",
          "type": "object"
        }
      }
    },
    "WagerContract": {
      "required": [
        "title",
        "amount",
        "description",
        "currency",
        "creator"
      ],
      "type": "object",
      "properties": {
        "created_on": {
          "title": "Created on",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "uuid": {
          "title": "Uuid",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "ACCEPTED",
            "PROGRESS",
            "COMPLETED"
          ],
          "readOnly": true
        },
        "category": {
          "title": "Category",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "wallet": {
          "$ref": "#/definitions/Wallet"
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": [
            "USD",
            "NGN",
            "EUR",
            "GBP"
          ]
        },
        "creator": {
          "title": "Creator",
          "type": "integer"
        },
        "counterparty": {
          "title": "Counterparty",
          "type": "integer",
          "x-nullable": true
        },
        "adjudicator": {
          "title": "Adjudicator",
          "type": "integer",
          "x-nullable": true
        },
        "status_history": {
          "title": "Status history",
          "type": "object"
        }
      }
    },
    "ClassicContractUpdate": {
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "PAYMENT",
            "AGREEMENT",
            "REJECTED",
            "DELIVERY",
            "INSPECTION",
            "ESCALATION",
            "APPEAL"
          ]
        },
        "state": {
          "title": "State",
          "type": "string",
          "enum": [
            "end",
            "start"
          ]
        }
      }
    },
    "WagerContractUpdate": {
      "required": [
        "status",
        "state"
      ],
      "type": "object",
      "properties": {
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "ACCEPTED",
            "PROGRESS",
            "COMPLETED"
          ]
        },
        "state": {
          "title": "State",
          "type": "string",
          "enum": [
            "end",
            "start"
          ]
        }
      }
    },
    "MessageImage": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "image": {
          "title": "Image",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "image_url": {
          "title": "Image url",
          "type": "string",
          "readOnly": true
        },
        "uploaded_at": {
          "title": "Uploaded at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "DisputeMessage": {
      "required": [
        "message"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "message": {
          "title": "Message",
          "type": "string",
          "minLength": 1
        },
        "sender": {
          "$ref": "#/definitions/User"
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "is_admin_message": {
          "title": "Is admin message",
          "type": "boolean",
          "readOnly": true
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageImage"
          },
          "readOnly": true
        }
      }
    },
    "DisputeEvidence": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "image": {
          "title": "Image",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "image_url": {
          "title": "Image url",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "title": "Description",
          "type": "string"
        },
        "uploaded_by": {
          "$ref": "#/definitions/User"
        },
        "uploaded_at": {
          "title": "Uploaded at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "Dispute": {
      "required": [
        "contract"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "contract": {
          "title": "Contract",
          "type": "integer"
        },
        "contract_title": {
          "title": "Contract title",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "contract_amount": {
          "title": "Contract amount",
          "type": "number",
          "readOnly": true
        },
        "contract_currency": {
          "title": "Contract currency",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "initiator": {
          "$ref": "#/definitions/User"
        },
        "other_party": {
          "title": "Other party",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "OPEN",
            "IN_PROGRESS",
            "ESCALATED",
            "RESOLVED",
            "CLOSED"
          ],
          "readOnly": true
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "updated_at": {
          "title": "Updated at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "last_response_time": {
          "title": "Last response time",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "escalated_at": {
          "title": "Escalated at",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "resolution_deadline": {
          "title": "Resolution deadline",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "admin_resolution": {
          "title": "Admin resolution",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "admin_resolved_by": {
          "title": "Admin resolved by",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisputeMessage"
          },
          "readOnly": true
        },
        "evidence": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisputeEvidence"
          },
          "readOnly": true
        },
        "time_remaining": {
          "title": "Time remaining",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DisputeCreate": {
      "required": [
        "contract"
      ],
      "type": "object",
      "properties": {
        "contract": {
          "title": "Contract",
          "type": "integer"
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "OPEN",
            "IN_PROGRESS",
            "ESCALATED",
            "RESOLVED",
            "CLOSED"
          ],
          "readOnly": true
        }
      }
    },
    "UpdateWallet": {
      "required": [
        "amount",
        "currency",
        "type"
      ],
      "type": "object",
      "properties": {
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": [
            "USD",
            "NGN",
            "EUR",
            "GBP"
          ]
        },
        "type": {
          "title": "Type",
          "type": "string",
          "enum": [
            "DEBIT",
            "CREDIT"
          ]
        }
      }
    }
  }
}
