{
  "swagger": "2.0",
  "info": {
    "title": "Scrub - Open API",
    "description": "Comprehensive API for geolocalised fraud detection, identity verification, and credit reporting in Nigeria. All responses include a request_id for support tracing.",
    "termsOfService": "https://usescrub.io/terms/",
    "contact": {
      "email": "contact@usescrub.io"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1"
  },
  "host": "odoopi.usescrub.io",
  "schemes": ["https"],
  "basePath": "/v1",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "description": "User account management"
    },
    {
      "name": "detect",
      "description": "Scrub detect system"
    },
    {
      "name": "verification",
      "description": "Country based identity verification (BVN, NIN, phone)"
    },
    {
      "name": "fraud",
      "description": "Real-time fraud detection, scoring, and watchlist screening"
    },
    {
      "name": "credit",
      "description": "Credit scoring, reporting, and bureau inquiry for Nigerian consumers"
    }
  ],
  "paths": {
    "/accounts/login/": {
      "post": {
        "summary": "Login",
        "operationId": "accounts_login_create",
        "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifiedTokenObtainPair"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VerifiedTokenObtainPairResponse"
            }
          }
        },
        "tags": ["accounts"]
      },
      "parameters": []
    },
    "/accounts/me/": {
      "get": {
        "operationId": "accounts_me_list",
        "summary": "Get authenticated user ",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        },
        "tags": ["accounts"]
      },
      "parameters": []
    },
    "/accounts/refresh/": {
      "post": {
        "summary": "Refresh token",
        "operationId": "accounts_refresh_create",
        "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        },
        "tags": ["accounts"]
      },
      "parameters": []
    },
    "/detect/": {
      "post": {
        "summary": "Detect AI generated file",
        "operationId": "detect_real_ai_gen",
        "description": "Takes a document in defined format and infers if real or AI generated.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "format": "binary"
                },
                "type": {
                  "type": "string",
                  "enum": ["passport", "receipt", "nin"]
                }
              }
            }
          }
        ],

        "responses": {
          "200": {
            "description": "Successful Request",
            "schema": {
              "type": "object",
              "properties": {
                "prediction": {
                  "type": "string",
                  "enum": ["real", "ai_gen"]
                },
                "probabilities": {
                  "type": "object",
                  "properties": {
                    "ai_generated": {
                      "type": "number",
                      "format": "float"
                    },
                    "real": {
                      "type": "number",
                      "format": "float"
                    }
                  }
                },
                "extracted_text": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "tags": ["detect"]
      }
    },
    "/verify-bvn/": {
      "post": {
        "summary": "Verify BVN",
        "operationId": "verification_bvn_create",
        "description": "Validates a Bank Verification Number (BVN) against NIBSS records and returns masked identity attributes. Use during KYC onboarding to confirm a customer's identity before account creation.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BvnVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BVN verification result",
            "schema": {
              "$ref": "#/definitions/BvnVerifyResponse"
            }
          },
          "400": {
            "description": "Invalid BVN format or checksum failure",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["verification"]
      }
    },
    "/verify-nin/": {
      "post": {
        "summary": "Verify NIN",
        "operationId": "verification_nin_create",
        "description": "Validates a National Identification Number (NIN) via NIMC and returns verified identity fields. Recommended for tier-2 KYC and regulatory compliance.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NinVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NIN verification result",
            "schema": {
              "$ref": "#/definitions/NinVerifyResponse"
            }
          },
          "400": {
            "description": "Invalid NIN",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["verification"]
      }
    },
    "/fraud/analyze/": {
      "post": {
        "summary": "Analyze transaction for fraud",
        "operationId": "fraud_analyze_create",
        "description": "Runs real-time fraud analysis on a transaction using geolocation signals, velocity checks, device fingerprinting, and network graph analysis. Returns a risk score (0–100) and recommended action.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Unique key to safely retry this request without duplicate analysis"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudAnalyzeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud analysis result",
            "schema": {
              "$ref": "#/definitions/FraudAnalyzeResponse"
            }
          },
          "422": {
            "description": "Insufficient data for analysis",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/score/": {
      "get": {
        "summary": "Get account fraud score",
        "operationId": "fraud_score_retrieve",
        "description": "Retrieves the current aggregated fraud risk score for a bank account or wallet. Scores are recalculated when new signals arrive via webhooks or API calls.",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "10-digit NUBAN account number"
          },
          {
            "name": "bank_code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CBN bank code (e.g. 058 for GTBank)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fraud score result",
            "schema": {
              "$ref": "#/definitions/FraudScoreResponse"
            }
          },
          "404": {
            "description": "Account not found in Scrub network",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/watchlist/check/": {
      "post": {
        "summary": "Screen against watchlists",
        "operationId": "fraud_watchlist_check",
        "description": "Screens an identity or account against Scrub's consolidated watchlist including reported fraudsters, PEP lists, and sanctioned entities relevant to the Nigerian financial ecosystem.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WatchlistCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watchlist screening result",
            "schema": {
              "$ref": "#/definitions/WatchlistCheckResponse"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/device-fingerprint/": {
      "post": {
        "summary": "Assess device fingerprint risk",
        "operationId": "fraud_device_fingerprint_create",
        "description": "Evaluates device fingerprint signals (IP, user agent, timezone, emulator detection) to detect account takeover, SIM swap, and multi-accounting patterns common in Nigerian mobile fraud.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceFingerprintRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device risk assessment",
            "schema": {
              "$ref": "#/definitions/DeviceFingerprintResponse"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/velocity-check/": {
      "post": {
        "summary": "Check transaction velocity",
        "operationId": "fraud_velocity_check_create",
        "description": "Detects abnormal transaction velocity — rapid transfers, burst login attempts, or geographic impossibility — within a configurable time window.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VelocityCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Velocity check result",
            "schema": {
              "$ref": "#/definitions/VelocityCheckResponse"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/report/": {
      "post": {
        "summary": "Report confirmed fraud",
        "operationId": "fraud_report_create",
        "description": "Submits a confirmed fraud case to the Scrub network. Reports are shared (with consent) across participating institutions to improve collective fraud detection.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FraudReportRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Fraud report submitted",
            "schema": {
              "$ref": "#/definitions/FraudReportResponse"
            }
          },
          "400": {
            "description": "Invalid report payload",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/fraud/alerts/": {
      "get": {
        "summary": "List fraud alerts",
        "operationId": "fraud_alerts_list",
        "description": "Returns paginated fraud alerts for accounts linked to your organization. Alerts are also delivered asynchronously via webhooks.",
        "parameters": [
          {
            "name": "account_number",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["low", "medium", "high", "critical"]
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated fraud alerts",
            "schema": {
              "$ref": "#/definitions/FraudAlertsResponse"
            }
          }
        },
        "tags": ["fraud"]
      }
    },
    "/credit/score/": {
      "post": {
        "summary": "Get credit score",
        "operationId": "credit_score_create",
        "description": "Retrieves a consumer credit score (300–850) based on repayment history, credit utilization, and bureau data from CRC Credit Bureau and FirstCentral. Requires explicit customer consent.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditScoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit score result",
            "schema": {
              "$ref": "#/definitions/CreditScoreResponse"
            }
          },
          "403": {
            "description": "Customer consent not provided",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["credit"]
      }
    },
    "/credit/report/": {
      "post": {
        "summary": "Generate credit report",
        "operationId": "credit_report_create",
        "description": "Generates a comprehensive credit report including score, active loans, repayment history, and delinquencies. Reports are available for retrieval for 30 days.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditReportRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Report generation initiated",
            "schema": {
              "$ref": "#/definitions/CreditReportInitResponse"
            }
          }
        },
        "tags": ["credit"]
      }
    },
    "/credit/report/{report_id}/": {
      "get": {
        "summary": "Retrieve credit report",
        "operationId": "credit_report_retrieve",
        "description": "Fetches a previously generated credit report by ID. Poll this endpoint after receiving a `credit.report.ready` webhook event.",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Report ID returned from POST /credit/report/"
          }
        ],
        "responses": {
          "200": {
            "description": "Full credit report",
            "schema": {
              "$ref": "#/definitions/CreditReport"
            }
          },
          "404": {
            "description": "Report not found or expired",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "tags": ["credit"]
      }
    },
    "/credit/inquiry/": {
      "post": {
        "summary": "Submit credit inquiry",
        "operationId": "credit_inquiry_create",
        "description": "Submits a soft or hard credit inquiry to Nigerian credit bureaus. Soft inquiries do not affect the consumer's score; hard inquiries are recorded on the bureau file.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditInquiryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inquiry result",
            "schema": {
              "$ref": "#/definitions/CreditInquiryResponse"
            }
          }
        },
        "tags": ["credit"]
      }
    },
    "/credit/history/": {
      "get": {
        "summary": "Get repayment history",
        "operationId": "credit_history_list",
        "description": "Returns summarized loan and repayment history for a consumer, including active facilities, closed accounts, and delinquency flags.",
        "parameters": [
          {
            "name": "bvn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "11-digit BVN"
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 24,
            "description": "Lookback period in months (max 60)"
          }
        ],
        "responses": {
          "200": {
            "description": "Repayment history summary",
            "schema": {
              "$ref": "#/definitions/CreditHistoryResponse"
            }
          }
        },
        "tags": ["credit"]
      }
    }
  },
  "definitions": {
    "ApiError": {
      "type": "object",
      "properties": {
        "error_code": {
          "type": "string",
          "description": "Machine-readable error identifier",
          "example": "INVALID_BVN"
        },
        "error_type": {
          "type": "string",
          "enum": ["INVALID_REQUEST", "AUTHENTICATION", "NOT_FOUND", "RATE_LIMIT", "INTERNAL"],
          "example": "INVALID_REQUEST"
        },
        "message": {
          "type": "string",
          "example": "BVN must be exactly 11 digits"
        },
        "request_id": {
          "type": "string",
          "description": "Include when contacting support",
          "example": "req_8f3k2m9x1p"
        }
      }
    },
    "BvnVerifyRequest": {
      "required": ["bvn"],
      "type": "object",
      "properties": {
        "bvn": {
          "type": "string",
          "description": "11-digit Bank Verification Number",
          "example": "22345678901"
        }
      }
    },
    "BvnVerifyResponse": {
      "type": "object",
      "properties": {
        "valid": { "type": "boolean", "example": true },
        "full_name": { "type": "string", "example": "Adebola James" },
        "phone_number": { "type": "string", "example": "08031234567" },
        "date_of_birth": { "type": "string", "format": "date", "example": "1990-05-15" },
        "request_id": { "type": "string", "example": "req_abc123" }
      }
    },
    "NinVerifyRequest": {
      "required": ["nin"],
      "type": "object",
      "properties": {
        "nin": {
          "type": "string",
          "description": "11-digit National Identification Number",
          "example": "12345678901"
        }
      }
    },
    "NinVerifyResponse": {
      "type": "object",
      "properties": {
        "valid": { "type": "boolean", "example": true },
        "full_name": { "type": "string", "example": "Chioma Okonkwo" },
        "gender": { "type": "string", "enum": ["M", "F"], "example": "F" },
        "request_id": { "type": "string" }
      }
    },
    "FraudAnalyzeRequest": {
      "required": ["transaction_id", "sender_account", "receiver_account", "amount", "channel"],
      "type": "object",
      "properties": {
        "transaction_id": { "type": "string", "example": "TXN123456789" },
        "sender_account": { "type": "string", "example": "0123456789" },
        "receiver_account": { "type": "string", "example": "9876543210" },
        "amount": { "type": "number", "format": "float", "example": 125000.5 },
        "currency": { "type": "string", "enum": ["NGN", "USD"], "default": "NGN" },
        "channel": { "type": "string", "enum": ["mobile", "ussd", "web", "atm", "pos"], "example": "web" },
        "ip_address": { "type": "string", "example": "102.89.23.45" },
        "device_id": { "type": "string", "example": "dev_fingerprint_abc" },
        "metadata": { "type": "object", "description": "Optional key-value context" }
      }
    },
    "FraudAnalyzeResponse": {
      "type": "object",
      "properties": {
        "transaction_id": { "type": "string" },
        "is_fraud": { "type": "boolean", "example": false },
        "risk_score": { "type": "number", "description": "0 (safe) to 100 (high risk)", "example": 45.7 },
        "risk_level": { "type": "string", "enum": ["low", "medium", "high", "critical"], "example": "medium" },
        "recommended_action": { "type": "string", "enum": ["approve", "review", "decline", "step_up_auth"], "example": "approve" },
        "signals": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "example": "VELOCITY_SPIKE" },
              "weight": { "type": "number", "example": 0.35 },
              "description": { "type": "string", "example": "3 transfers in 5 minutes" }
            }
          }
        },
        "request_id": { "type": "string" }
      }
    },
    "FraudScoreResponse": {
      "type": "object",
      "properties": {
        "account_number": { "type": "string", "example": "0123456789" },
        "fraud_score": { "type": "number", "example": 73.2 },
        "risk_level": { "type": "string", "enum": ["low", "medium", "high", "critical"], "example": "high" },
        "last_updated": { "type": "string", "format": "date-time" },
        "report_count": { "type": "integer", "description": "Number of network fraud reports", "example": 2 }
      }
    },
    "WatchlistCheckRequest": {
      "required": ["subject_type", "identifier"],
      "type": "object",
      "properties": {
        "subject_type": { "type": "string", "enum": ["account", "bvn", "nin", "phone", "email"], "example": "bvn" },
        "identifier": { "type": "string", "example": "22345678901" },
        "full_name": { "type": "string", "example": "Adebola James" }
      }
    },
    "WatchlistCheckResponse": {
      "type": "object",
      "properties": {
        "matched": { "type": "boolean", "example": false },
        "match_count": { "type": "integer", "example": 0 },
        "matches": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "list_name": { "type": "string", "example": "scrub_fraud_network" },
              "match_score": { "type": "number", "example": 0.92 },
              "reason": { "type": "string", "example": "Reported phishing — Jan 2025" }
            }
          }
        },
        "request_id": { "type": "string" }
      }
    },
    "DeviceFingerprintRequest": {
      "required": ["device_id", "ip_address", "user_agent"],
      "type": "object",
      "properties": {
        "device_id": { "type": "string", "example": "dev_abc123" },
        "ip_address": { "type": "string", "example": "102.89.23.45" },
        "user_agent": { "type": "string", "example": "Mozilla/5.0 (Linux; Android 14)..." },
        "account_number": { "type": "string", "example": "0123456789" },
        "timezone": { "type": "string", "example": "Africa/Lagos" },
        "is_emulator": { "type": "boolean", "example": false }
      }
    },
    "DeviceFingerprintResponse": {
      "type": "object",
      "properties": {
        "device_id": { "type": "string" },
        "risk_score": { "type": "number", "example": 62.0 },
        "risk_level": { "type": "string", "enum": ["low", "medium", "high"], "example": "medium" },
        "flags": {
          "type": "array",
          "items": { "type": "string" },
          "example": ["NEW_DEVICE", "VPN_DETECTED"]
        },
        "known_device": { "type": "boolean", "example": false },
        "request_id": { "type": "string" }
      }
    },
    "VelocityCheckRequest": {
      "required": ["account_number", "event_type"],
      "type": "object",
      "properties": {
        "account_number": { "type": "string", "example": "0123456789" },
        "event_type": { "type": "string", "enum": ["transfer", "login", "card_txn", "bvn_lookup"], "example": "transfer" },
        "window_minutes": { "type": "integer", "default": 60, "example": 60 },
        "threshold": { "type": "integer", "default": 5, "description": "Max events before flagging", "example": 5 }
      }
    },
    "VelocityCheckResponse": {
      "type": "object",
      "properties": {
        "exceeded": { "type": "boolean", "example": false },
        "event_count": { "type": "integer", "example": 2 },
        "threshold": { "type": "integer", "example": 5 },
        "window_minutes": { "type": "integer", "example": 60 },
        "request_id": { "type": "string" }
      }
    },
    "FraudReportRequest": {
      "required": ["reporter_email", "account_number", "fraud_type"],
      "type": "object",
      "properties": {
        "reporter_email": { "type": "string", "format": "email", "example": "report@fraudwatch.ng" },
        "account_number": { "type": "string", "example": "0123456789" },
        "fraud_type": {
          "type": "string",
          "enum": ["phishing", "account_takeover", "sim_swap", "identity_theft", "chargeback", "other"],
          "example": "phishing"
        },
        "amount_lost": { "type": "number", "example": 50000 },
        "description": { "type": "string", "example": "User tricked into sending money under false pretenses." },
        "evidence_urls": { "type": "array", "items": { "type": "string", "format": "uri" } }
      }
    },
    "FraudReportResponse": {
      "type": "object",
      "properties": {
        "report_id": { "type": "string", "example": "frd_rpt_8x2k9m" },
        "status": { "type": "string", "enum": ["received", "under_review", "verified"], "example": "received" },
        "created_at": { "type": "string", "format": "date-time" },
        "request_id": { "type": "string" }
      }
    },
    "FraudAlertsResponse": {
      "type": "object",
      "properties": {
        "count": { "type": "integer", "example": 42 },
        "page": { "type": "integer", "example": 1 },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "alert_id": { "type": "string", "example": "alt_9k2m1x" },
              "account_number": { "type": "string" },
              "severity": { "type": "string", "enum": ["low", "medium", "high", "critical"] },
              "type": { "type": "string", "example": "VELOCITY_BREACH" },
              "message": { "type": "string" },
              "created_at": { "type": "string", "format": "date-time" }
            }
          }
        }
      }
    },
    "CreditScoreRequest": {
      "required": ["bvn", "consent_reference"],
      "type": "object",
      "properties": {
        "bvn": { "type": "string", "example": "22345678901" },
        "consent_reference": { "type": "string", "description": "Reference to stored customer consent", "example": "cns_abc123" },
        "bureau": { "type": "string", "enum": ["crc", "firstcentral", "all"], "default": "all" }
      }
    },
    "CreditScoreResponse": {
      "type": "object",
      "properties": {
        "bvn": { "type": "string" },
        "score": { "type": "integer", "description": "300–850 scale", "example": 682 },
        "rating": { "type": "string", "enum": ["excellent", "good", "fair", "poor", "very_poor"], "example": "good" },
        "bureau_source": { "type": "string", "example": "crc" },
        "factors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "factor": { "type": "string", "example": "repayment_history" },
              "impact": { "type": "string", "enum": ["positive", "negative", "neutral"] },
              "description": { "type": "string" }
            }
          }
        },
        "request_id": { "type": "string" }
      }
    },
    "CreditReportRequest": {
      "required": ["bvn", "consent_reference"],
      "type": "object",
      "properties": {
        "bvn": { "type": "string", "example": "22345678901" },
        "consent_reference": { "type": "string", "example": "cns_abc123" },
        "include_loans": { "type": "boolean", "default": true },
        "include_inquiries": { "type": "boolean", "default": true }
      }
    },
    "CreditReportInitResponse": {
      "type": "object",
      "properties": {
        "report_id": { "type": "string", "example": "crp_8f3k2m9x" },
        "status": { "type": "string", "enum": ["pending", "processing"], "example": "processing" },
        "estimated_ready_at": { "type": "string", "format": "date-time" },
        "request_id": { "type": "string" }
      }
    },
    "CreditReport": {
      "type": "object",
      "properties": {
        "report_id": { "type": "string" },
        "bvn": { "type": "string" },
        "score": { "type": "integer", "example": 682 },
        "rating": { "type": "string", "example": "good" },
        "generated_at": { "type": "string", "format": "date-time" },
        "active_loans": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lender": { "type": "string", "example": "FairMoney" },
              "amount": { "type": "number", "example": 150000 },
              "outstanding": { "type": "number", "example": 45000 },
              "status": { "type": "string", "enum": ["current", "delinquent", "closed"] }
            }
          }
        },
        "inquiries_last_12m": { "type": "integer", "example": 3 },
        "delinquencies": { "type": "integer", "example": 0 }
      }
    },
    "CreditInquiryRequest": {
      "required": ["bvn", "inquiry_type", "consent_reference", "purpose"],
      "type": "object",
      "properties": {
        "bvn": { "type": "string", "example": "22345678901" },
        "inquiry_type": { "type": "string", "enum": ["soft", "hard"], "example": "soft" },
        "consent_reference": { "type": "string", "example": "cns_abc123" },
        "purpose": { "type": "string", "enum": ["loan_application", "account_opening", "periodic_review"], "example": "loan_application" }
      }
    },
    "CreditInquiryResponse": {
      "type": "object",
      "properties": {
        "inquiry_id": { "type": "string", "example": "inq_7k2m9x" },
        "inquiry_type": { "type": "string", "example": "soft" },
        "recorded_on_bureau": { "type": "boolean", "example": false },
        "score_at_inquiry": { "type": "integer", "example": 682 },
        "request_id": { "type": "string" }
      }
    },
    "CreditHistoryResponse": {
      "type": "object",
      "properties": {
        "bvn": { "type": "string" },
        "months_analyzed": { "type": "integer", "example": 24 },
        "total_facilities": { "type": "integer", "example": 4 },
        "active_facilities": { "type": "integer", "example": 2 },
        "on_time_payments_pct": { "type": "number", "example": 94.5 },
        "worst_delinquency_days": { "type": "integer", "example": 0 },
        "facilities": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lender": { "type": "string" },
              "type": { "type": "string", "enum": ["personal_loan", "mortgage", "credit_card", "overdraft"] },
              "opened_at": { "type": "string", "format": "date" },
              "status": { "type": "string", "enum": ["current", "delinquent", "closed"] }
            }
          }
        },
        "request_id": { "type": "string" }
      }
    },
    "ChangePassword": {
      "required": ["current_password", "new_password"],
      "type": "object",
      "properties": {
        "current_password": {
          "title": "Current password",
          "type": "string",
          "minLength": 1
        },
        "new_password": {
          "title": "New password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "VerifiedTokenObtainPair": {
      "required": ["email", "password"],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "VerifiedTokenObtainPairResponse": {
      "type": "object",
      "properties": {
        "access": {
          "title": "Access",
          "type": "string",
          "minLength": 1
        },
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "User": {
      "required": ["username", "email"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "username": {
          "title": "Username",
          "type": "string",
          "maxLength": 150,
          "minLength": 1
        },
        "email": {
          "title": "Email address",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        },
        "first_name": {
          "title": "First name",
          "type": "string",
          "maxLength": 150
        },
        "last_name": {
          "title": "Last name",
          "type": "string",
          "maxLength": 150
        },
        "is_active": {
          "title": "Active",
          "description": "Designates whether this user should be treated as active. Unselect this instead of deleting accounts.",
          "type": "boolean",
          "readOnly": true
        },
        "role": {
          "title": "Role",
          "type": "string",
          "enum": ["A", "B"]
        },
        "date_joined": {
          "title": "Date joined",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "readOnly": true
        },
        "phone": {
          "title": "Phone",
          "type": "string",
          "maxLength": 200,
          "minLength": 1,
          "x-nullable": true
        },
        "gender": {
          "title": "Gender",
          "type": "string",
          "enum": ["MALE", "FEMALE", "OTHERS"]
        },
        "tier": {
          "title": "Tier",
          "type": "integer",
          "readOnly": true,
          "default": 1
        },
        "is_verified_for_login": {
          "title": "Is verified for login",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TokenRefresh": {
      "required": ["refresh"],
      "type": "object",
      "properties": {
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        },
        "access": {
          "title": "Access",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "WithdrawalAccount": {
      "required": ["bank_name", "account_number", "account_name"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "bank_name": {
          "title": "Bank name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "account_number": {
          "title": "Account Number",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "account_name": {
          "title": "Account Name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "user": {
          "title": "User",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "Wallet": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "total_transactions": {
          "title": "Total transactions",
          "type": "string",
          "readOnly": true
        },
        "total_income": {
          "title": "Total income",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": ["USD", "NGN", "EUR", "GBP"]
        },
        "balance": {
          "title": "Balance",
          "type": "number"
        },
        "user": {
          "title": "User",
          "type": "integer",
          "x-nullable": true
        }
      }
    },
    "ClassicContract": {
      "required": [
        "title",
        "amount",
        "description",
        "currency",
        "creator",
        "creator_role",
        "product_name",
        "inspection_period"
      ],
      "type": "object",
      "properties": {
        "created_on": {
          "title": "Created on",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "uuid": {
          "title": "Uuid",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "AGREEMENT",
            "REJECTED",
            "PAYMENT",
            "DELIVERY",
            "INSPECTION",
            "APPEAL",
            "COMPLETED"
          ],
          "readOnly": true
        },
        "category": {
          "title": "Category",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": ["USD", "NGN", "EUR", "GBP"]
        },
        "creator": {
          "title": "Creator",
          "type": "integer"
        },
        "creator_role": {
          "title": "Creator role",
          "type": "integer",
          "enum": [1, 2]
        },
        "wallet": {
          "$ref": "#/definitions/Wallet"
        },
        "counterparty": {
          "title": "Counterparty",
          "type": "integer",
          "x-nullable": true
        },
        "product_name": {
          "title": "Product name",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "inspection_period": {
          "title": "Inspection period",
          "description": "Inspection period in days - 0 indicates immediate",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": -2147483648
        },
        "delivery_fee": {
          "title": "Delivery fee",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "status_history": {
          "title": "Status history",
          "type": "object"
        }
      }
    },
    "WagerContract": {
      "required": ["title", "amount", "description", "currency", "creator"],
      "type": "object",
      "properties": {
        "created_on": {
          "title": "Created on",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "uuid": {
          "title": "Uuid",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["ACCEPTED", "PROGRESS", "COMPLETED"],
          "readOnly": true
        },
        "category": {
          "title": "Category",
          "type": "string",
          "readOnly": true
        },
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "wallet": {
          "$ref": "#/definitions/Wallet"
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": ["USD", "NGN", "EUR", "GBP"]
        },
        "creator": {
          "title": "Creator",
          "type": "integer"
        },
        "counterparty": {
          "title": "Counterparty",
          "type": "integer",
          "x-nullable": true
        },
        "adjudicator": {
          "title": "Adjudicator",
          "type": "integer",
          "x-nullable": true
        },
        "status_history": {
          "title": "Status history",
          "type": "object"
        }
      }
    },
    "ClassicContractUpdate": {
      "required": ["status"],
      "type": "object",
      "properties": {
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "PAYMENT",
            "AGREEMENT",
            "REJECTED",
            "DELIVERY",
            "INSPECTION",
            "ESCALATION",
            "APPEAL"
          ]
        },
        "state": {
          "title": "State",
          "type": "string",
          "enum": ["end", "start"]
        }
      }
    },
    "WagerContractUpdate": {
      "required": ["status", "state"],
      "type": "object",
      "properties": {
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["ACCEPTED", "PROGRESS", "COMPLETED"]
        },
        "state": {
          "title": "State",
          "type": "string",
          "enum": ["end", "start"]
        }
      }
    },
    "MessageImage": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "image": {
          "title": "Image",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "image_url": {
          "title": "Image url",
          "type": "string",
          "readOnly": true
        },
        "uploaded_at": {
          "title": "Uploaded at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "DisputeMessage": {
      "required": ["message"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "message": {
          "title": "Message",
          "type": "string",
          "minLength": 1
        },
        "sender": {
          "$ref": "#/definitions/User"
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "is_admin_message": {
          "title": "Is admin message",
          "type": "boolean",
          "readOnly": true
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageImage"
          },
          "readOnly": true
        }
      }
    },
    "DisputeEvidence": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "image": {
          "title": "Image",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "image_url": {
          "title": "Image url",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "title": "Description",
          "type": "string"
        },
        "uploaded_by": {
          "$ref": "#/definitions/User"
        },
        "uploaded_at": {
          "title": "Uploaded at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "Dispute": {
      "required": ["contract"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "contract": {
          "title": "Contract",
          "type": "integer"
        },
        "contract_title": {
          "title": "Contract title",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "contract_amount": {
          "title": "Contract amount",
          "type": "number",
          "readOnly": true
        },
        "contract_currency": {
          "title": "Contract currency",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "initiator": {
          "$ref": "#/definitions/User"
        },
        "other_party": {
          "title": "Other party",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["OPEN", "IN_PROGRESS", "ESCALATED", "RESOLVED", "CLOSED"],
          "readOnly": true
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "updated_at": {
          "title": "Updated at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "last_response_time": {
          "title": "Last response time",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "escalated_at": {
          "title": "Escalated at",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "resolution_deadline": {
          "title": "Resolution deadline",
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "x-nullable": true
        },
        "admin_resolution": {
          "title": "Admin resolution",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "admin_resolved_by": {
          "title": "Admin resolved by",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisputeMessage"
          },
          "readOnly": true
        },
        "evidence": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisputeEvidence"
          },
          "readOnly": true
        },
        "time_remaining": {
          "title": "Time remaining",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DisputeCreate": {
      "required": ["contract"],
      "type": "object",
      "properties": {
        "contract": {
          "title": "Contract",
          "type": "integer"
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["OPEN", "IN_PROGRESS", "ESCALATED", "RESOLVED", "CLOSED"],
          "readOnly": true
        }
      }
    },
    "UpdateWallet": {
      "required": ["amount", "currency", "type"],
      "type": "object",
      "properties": {
        "amount": {
          "title": "Amount",
          "type": "number"
        },
        "currency": {
          "title": "Currency",
          "type": "string",
          "enum": ["USD", "NGN", "EUR", "GBP"]
        },
        "type": {
          "title": "Type",
          "type": "string",
          "enum": ["DEBIT", "CREDIT"]
        }
      }
    }
  }
}
